{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <style>
    body {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      margin: 0;
    }

    footer {
      height: 100pz;
      background-color: transparent;
      margin-top: 5%;
    }
  </style>

  <body background="../static/img/bg.png">
    <div class="container-fluid">
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a href="{% url 'index' %}" class="navbar-brand fs-1 fw-bolder"
              >Events</a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'events' %}">Events</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'booking' %}">Booking</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup'%}"
                    ><i class="fa fa-user"></i> Sign Up</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login'%}"
                    ><i class="fa fa-sign-in-alt"></i> Login</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <div class="container-fluid">{% block content %}{% endblock %}</div>
    </div>
    <footer>
      <div class="containerfluid"></div>
    </footer>
  </body>
</html>
