body {
  background-image: url("../img/bg.jpg");
  /* Adjust the path relative to the CSS file */
  background-size: cover;
  /* Ensures the image covers the whole background */
  background-position: center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  background-color: blue;
}

.nav-link:hover {
  color: white !important;
}
